.web {
  color: #2196f3;
  font-size: 26px;
  line-height: 30.52px;
}
.studio {
  color: #000000;
  font-size: 26px;
  line-height: 35.96px;
}

.main-navigation a.active {
  color: #2196f3;
  width: 42;
  height: 16px;
  top: 32px;
  left: 453px;
}
.main-navigation .portfolio {
  color: #212121;
  font-size: 14px;
  line-height: 16.41px;
}
.main-navigation .contacts {
  color: #212121;
  font-size: 14px;
  line-height: 16.41px;
}
.global-header {
  background-color: #ffffff;
}
.main-navigation {
  color: #ffffff;
  font-size: 14px;
  line-height: 16.41px;
}
.email {
  color: #2196f3;
  font-size: 14px;
  line-height: 16.41px;
}
.phone {
  color: #757575;
  font-size: 14px;
  line-height: 16.41px;
}
#title {
  color: #ffffff;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
}

.button-service {
  background-color: #2196f3;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  cursor: pointer;
}

.button-service .page-section-content .button-service:hover {
  color: mediumvioletred;
}

.about-us p {
  color: #757575;
  font-size: 14px;
  line-height: 24px;
}
.about-us h3 {
  color: #212121;
  font-size: 14px;
  line-height: 16.41px;
}

.page-section-content {
  background-color: #2f303a;
}

.ocupation {
  color: #212121;
  font-size: 36px;
  line-height: 42.19px;
  text-align: center;
}
.studio-address {
  color: #ffffff;
  font-size: 26px;
  line-height: 30.52px;
}
.address {
  background-color: #2f303a;
}
.location {
  color: #ffffff;
  font-size: 14px;
  line-height: 16.41px;
}
.mail {
  color: #ffffff99;
  line-height: 16px;
}
.tel {
  color: #ffffff99;
  font-size: 14px;
  line-height: 16px;
}
