button {
  background-color: #2196f3;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  cursor: pointer;
}

.global-header .main-navigation a.active {
  color: red;
}
.global-header {
  background-color: #ffffff;
  width: 1600px;
  height: 80px;
}

.section {
  background-color: #2f303a;
  width: 1600px;
  height: 600px;
  top: 80px;
}

.information {
  background-color: #ffffff;
}
