.web {
  color: #2196f3;
  font-size: 26px;
  line-height: 30.52px;
}
.studio {
  color: #000000;
  font-size: 26px;
  line-height: 30.52px;
}

ul {
  list-style-type: none;
}

.main-navigation .nav-link-current {
  color: #2196f3;
  width: 42px;
  height: 16px;
  top: 32px;
  left: 453px;
}

.current {
  color: var(--highlight-color);
}

.nav-link-current:active,
.nav-link-current:hover,
.nav-link-current:focus,
.nav-link-current:visited:active,
.nav-link-current:visited:hover,
.nav-link-current:visited:focus {
  color: var(--active-link);
}

.nav-link-current:visited {
  color: var(--active-link);
}

.main-navigation .nav-link {
  color: #212121;
  font-size: 14px;
  line-height: 16.41px;
}
.global-header {
  background-color: #ffffff;
}
.main-navigation .nav-link-current {
  color: #2196f3;
  font-size: 14px;
  line-height: 16.41px;
}
.email {
  color: #2196f3;
  font-size: 14px;
  line-height: 16.41px;
}
.phone {
  color: #757575;
  font-size: 14px;
  line-height: 16.41px;
}
#title {
  color: #ffffff;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  font-weight: 900;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.button-service {
  background-color: #188ce8;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  cursor: pointer;
  font-family: inherit;
}

.button-service .page-section-content .button-service:hover {
  color: mediumvioletred;
}

.about-us p {
  color: #757575;
  font-size: 14px;
  line-height: 24px;
}
.about-us h3 {
  color: #212121;
  font-size: 14px;
  line-height: 16.41px;
}

.page-section-content {
  background-color: #2f303a;
}

.ocupation {
  color: #212121;
  font-size: 36px;
  line-height: 42.19px;
  text-align: center;
  font-weight: 700;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.studio-address {
  color: #ffffff;
  font-size: 26px;
  line-height: 30.52px;
}
.address {
  background-color: #2f303a;
  font-style: normal;
}
.location {
  color: #ffffff;
  font-size: 14px;
  line-height: 16.41px;
}
.mail {
  color: #ffffff99;
  line-height: 16px;
}
.tel {
  color: #ffffff99;
  font-size: 14px;
  line-height: 16px;
}

.studio-second {
  color: #ffffff;
  font-size: 26px;
  line-height: 30.52px;
}

.team {
  background-color: #f5f4fa;
}

.our-team {
  text-align: center;
  font-weight: 700;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 36px;
  line-height: 42.19px;
}

.members {
  color: #212121;
  font-size: 16px;
  line-height: 18.75px;
  text-align: center;
}

.function {
  color: #757575;
  font-size: 16px;
  line-height: 18.75px;
  text-align: center;
}

a {
  text-decoration: none;
}

p {
  font-size: 24px;
}

.menu {
  color: #212121;
  font-size: 18px;
  line-height: 36px;
  font-weight: 700;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
