.web {
  color: #2196f3;
  font-size: 26px;
  line-height: 30.52px;
  font-family: raleway;
  font-weight: 700;
}
.studio {
  color: #000000;
  font-size: 26px;
  line-height: 30.52px;
  font-family: raleway;
  font-weight: 700;
}

ul {
  list-style-type: none;
}

.main-navigation .nav-link-current {
  color: #2196f3;
  width: 42px;
  height: 16px;
  top: 32px;
  left: 453px;
}

.current {
  color: var(--highlight-color);
}

.nav-link-current:hover,
.nav-link:hover {
  color: mediumvioletred;
}

.nav-link-current:active,
.nav-link-current:hover,
.nav-link-current:focus,
.nav-link-current:visited:active,
.nav-link-current:visited:hover,
.nav-link-current:visited:focus {
  color: var(--active-link);
}

.nav-link-current:visited {
  color: var(--active-link);
}

.main-navigation .nav-link {
  color: #212121;
  font-size: 14px;
  line-height: 16.41px;
}
.global-header {
  background-color: #ffffff;
}
.main-navigation .nav-link-current {
  color: #2196f3;
  font-size: 14px;
  line-height: 16.41px;
}
.email {
  color: #757575;
  font-size: 14px;
  line-height: 16.41px;
}
.phone {
  color: #757575;
  font-size: 14px;
  line-height: 16.41px;
}

.email:hover,
.tel:hover,
.phone:hover,
.mail:hover {
  color: mediumvioletred;
}

#title {
  color: #ffffff;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  font-weight: 900;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.button-service {
  background-color: #188ce8;
  width: 200px;
  height: 50px;
  color: #ffffff;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  cursor: pointer;
  font-family: inherit;
  letter-spacing: 0.96px;
  border-radius: 4px;
  border: unset;
}

.button-service:hover {
  color: mediumvioletred;
}

.description {
  color: #757575;
  font-size: 14px;
  line-height: 1.71;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
}
.about {
  color: #212121;
  font-size: 14px;
  line-height: 16.41px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
}

.page-section-content {
  background-color: #2f303a;
}

.ocupation {
  color: #212121;
  font-size: 36px;
  line-height: 42.19px;
  text-align: center;
  font-weight: 700;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.studio-address {
  color: #ffffff;
  font-size: 26px;
  line-height: 30.52px;
}
.address {
  background-color: #2f303a;
  font-style: normal;
}
.location {
  color: #ffffff;
  font-size: 14px;
  line-height: 16.41px;
}
.mail {
  color: #ffffff99;
  line-height: 16px;
}
.tel {
  color: #ffffff99;
  font-size: 14px;
  line-height: 1.71;
}

.studio-second {
  color: #ffffff;
  font-size: 26px;
  line-height: 30.52px;
}

.team {
  background-color: #f5f4fa;
}

.our-team {
  text-align: center;
  font-weight: 700;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 36px;
  line-height: 42.19px;
}

.members {
  color: #212121;
  font-size: 16px;
  line-height: 18.75px;
  letter-spacing: 0.03;
  width: 145px;
  text-align: center;
}

.function {
  color: #757575;
  font-size: 16px;
  line-height: 18.75px;
  text-align: center;
}

a {
  text-decoration: none;
}

p {
  font-size: 24px;
}

.menu {
  color: #212121;
  font-size: 18px;
  line-height: 36px;
  font-weight: 700;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: center;
}
.submenu {
  color: #757575;
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: center;
}

.button {
  text-align: center;
}

.button-first {
  width: 120;
  height: 38px;
  background-color: #2196f3;
  color: #ffffff;
  cursor: pointer;
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  border-radius: 4px;
  border: unset;
}

.button-first:hover {
  color: mediumvioletred;
}

.button-second,
.button-third,
.button-foutrh,
.button-fifth {
  width: 120;
  background: #f5f4fa;
  color: #212121;
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.62;
  border-radius: 4px;
  border: #ffffff;
}

.button-second:hover,
.button-third:hover,
.button-foutrh:hover,
.button-fifth:hover {
  color: mediumvioletred;
  background-color: #188ce8;
}
